<div class="sysi-container">

  <p class="gal-title">{{ gallery.name }}</p>

  <ngx-masonry [options]="{ gutter: 0, percentPosition: true }" [ordered]="true">

    <div ngxMasonryItem class="masonry-item" *ngFor="let image of images">

      <div class="gallery-item">
        <a href="http://localhost:8080/uploads/{{gallery.name}}/{{image.name}}" data-fancybox="gallery">
          <img class="test" src="http://localhost:8080/uploads/{{gallery.name}}/{{image.name}}">
        </a>

        <a (click)="openDeleteModal(image, gallery)">
          delete
        </a>
      </div>

    </div>

  </ngx-masonry>




</div>

