
<div class="sysi-container">


  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary gal-modal-btn" data-toggle="modal" data-target="#exampleModalCenter">
    Lisa uus galerii!
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Lisa uus galerii!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ngx-dropzone (change)="onSelect($event)" [accept]="'image/*'">
            <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </ngx-dropzone>

          <form [formGroup]="galleryForm" (ngSubmit)="onClick()">
            <input type="text" placeholder="Galerii nimi" required formControlName="name">
            <select formControlName="thumbnail">
              <option *ngFor="let f of files" value="{{f.name}}">{{f.name}}</option>
            </select>
            <button [disabled]="isButtonDisabled" type="submit">GO!</button>
          </form>


        </div>
      </div>
    </div>
  </div>
</div>
