h1 {
  font-family: 'Adamina', serif;
  font-size: 1.5rem;
  color: #525252;
  letter-spacing: 0.5rem;
  text-align: center;
  margin: 4rem auto 2rem;
  display: inline-block;
}

.h1-span {
  font-family: 'Montserrat', sans-serif;
  display: block;
  font-size: .9rem;
  font-weight: 300;
  letter-spacing: normal;
  text-align: left;
  letter-spacing: 0.5rem;
}

.h1-big {
}

.title {
  display: flex;
  flex-direction: column;
}

.title a {
  display: inline-block;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}


.menu a {
  font-size: .8rem;
  margin: 0 .5rem;
  color: #939393;
  transition: .3s;
}

.menu a:hover {
  color: #525252;
}

.current-menu-item a {
  color: #525252;
  border-bottom: solid 1px #525252;
  padding-bottom: .3rem;
}
