<nav>
  <div class="title">
    <a routerLink="/" routerLinkActive="active">
      <h1>
        <span class="h1-span">fotograaf</span>
        <span class="h1-big">SANDRA SÜSI</span>
      </h1>
    </a>
  </div>


  <ul class="menu">
    <li>
      <a routerLink="/digitaal" routerLinkActive="active">DIGITAAL</a>
    </li>
    <li>
      <a routerLink="/minust" routerLinkActive="active">MINUST</a>
    </li>
    <li>
      <a routerLink="/kontakt" routerLinkActive="active">KONTAKT</a>
    </li>
  </ul>


</nav>
