@font-face {
  font-family: Adamina;
  src: url('assets/fonts/Adamina-Regular.ttf');
  font-weight: 400;
  font-display: swap
}

@font-face {
  font-family: Montserrat;
  src: url('assets/fonts/Montserrat-Light.ttf');
  font-weight: 300;
  font-display: swap
}

@font-face {
  font-family: Montserrat;
  src: url('assets/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-display: swap
}

* {
  box-sizing: border-box;
}


body, html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #525252;
  background-color: #fefefe;
}

h2 {
  color: #525252;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

p {
  font-size: .8rem;
  color: #939393;
}

.container {
  margin: 2rem 5px;
}

.content {
  min-height: calc(100vh - 19rem);
  display: flex;
  align-items: flex-start;
}
